* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.main-title {
	color: #ffffff;
	background: #ffffff;
	text-shadow: 1px 3px 0 #5b5b5b, 1px 13px 5px #74487e;
	background: #ffffff;
	background-color: #ff69b4;
	display: flex;
	justify-content: center;
	font-size: 8rem;
	font-family: "Jersey 15", sans-serif;
}

.movieDiv {
	font-size: 2rem;
}

#films-container {
	border: 4px solid palevioletred;
	height: 80rem;
}

#film-pool {
	border: 4px solid magenta;
}

#details-link {
	border: 2px solid greenyellow;
	font-size: 2rem;
}

#details-button {
	font-size: 2rem;
}
