* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Jersey 15", sans-serif;
}

.main-title {
	color: #ffffff;
	background: #ffffff;
	text-shadow: 1px 3px 0 #5b5b5b, 1px 13px 5px #74487e;
	background: #ffffff;
	background-color: #ff69b4;
	display: flex;
	justify-content: center;
	font-size: 8rem;
}

.drive-in-img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 40rem;
	background-color: #ffbede;
}

/*TODO: need to put width in %;*/
#main-img {
	margin-bottom: 3rem;
	width: 80rem;
	border: 8px solid white;
	box-shadow: 20px 20px 20px 5px rgba(10, 5, 3, 0.5);
}

.greeting-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8rem;
	width: 80rem;
	font-size: 4rem;
	color: white;
	text-shadow: 4px 4px 4px black;
}

.movie-title {
	font-size: 2rem;
}

.movie-container {
	border: 10px solid white;
	background-color: #ff6d69;
	display: flex;
	flex-direction: column;
	width: 20%;
}

#films-container {
	background-color: #c669ff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#details-button {
	font-size: 2rem;
}
